@model TeamTProject.Models.ContactModels
@{
    ViewBag.Title = "Contact us";
    @Styles.Render("~/Content/Site.css")
}
<link href="~/Content/GameHome.css" rel="stylesheet" />
<h1>Games Centre Home of ProBall</h1>
<h2>@ViewBag.Title.</h2>
<!--<h3>@ViewBag.Message</h3>-->
@using (Html.BeginForm())
{
    <div class="row">
        @Html.ValidationSummary(true)
        @Html.LabelFor(model =>model.FirstName, "First Name:")
        @Html.EditorFor(model => model.FirstName)
        @Html.ValidationMessageFor(model => model.FirstName)
    </div>
    <div class="row">
        @Html.ValidationSummary(true)
        @Html.LabelFor(model =>model.LastName,"Last Name:")
        @Html.EditorFor(model =>model.LastName)
        @Html.ValidationMessageFor(model => model.LastName)
    </div>
    <div class="row">
        @Html.ValidationSummary(true)
        @Html.LabelFor(model => model.Email, "Email:")
        @Html.EditorFor(model =>model.Email)
        @Html.ValidationMessageFor(model => model.Email)
    </div>
    <div class="row">
        @Html.ValidationSummary(true)
        @Html.LabelFor(model => model.Comment, "Comment:")
        @Html.TextAreaFor(model => model.Comment)
        @Html.ValidationMessageFor(model => model.Comment)
    </div>
    <div class="row">
        <input type="submit" value="submit"/>
        <input type="reset" value="reset"/>
    </div>


}
